<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>高少祥-简历</title>
    <link rel="shortcut icon" href="static/favicon.ico?201811101305" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal-default-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.js"></script>
    <script src="static/js/script.js"></script>
</head>

<body>
    <div class="container" id="cv">
        <div class="side">
            <div class="me">
                <div class="portrait"></div>
                <div class="remodal remodal-img" data-remodal-id="portrait-modal">
                    <h3>请输入图片URL地址：</h3>
                    <br/>
                    <input type="text" id="avatar-url">
                    <button data-remodal-action="confirm" class="remodal-confirm">确定</button>
                </div>
                <h1 id="username" >{{ source?source.me.username:'' }}</h1>
                <h4 id="persona-tag" >{{ source?source.me['persona-tag']:'' }}</h4>
            </div>
            <div class="profile info-unit">
                <h2 class="info-header"><i class="iconfont icon-person"></i> <span class="info-title">{{ source?source.profile['info-title']:'' }}</span></h2>
                <hr>
                <ul class="info-list">
                    <li>
                        <label class="left-label">{{ source?source.profile['info-list'].name.title:'' }}</label><span class="label-value">{{ source?source.profile['info-list'].name.content:'' }}</span></li>
                    <li>
                        <label class="left-label">{{ source?source.profile['info-list'].gender.title:'' }}</label><span class="label-value">{{ source?source.profile['info-list'].gender.content:'' }}</span></li>                        
                    <li>
                        <label class="left-label">{{ source?source.profile['info-list']['education-background'].title:'' }}</label><span class="label-value">{{ source?source.profile['info-list']['education-background'].content:'' }}</span></li>
                    <li>
                        <label class="left-label">{{ source?source.profile['info-list']['major'].title:'' }}</label><span class="label-value">{{ source?source.profile['info-list']['major'].content:'' }}</span></li>                        
                    <li>
                        <label class="left-label">{{ source?source.profile['info-list']['graduate-school'].title:'' }}</label><span class="label-value">{{ source?source.profile['info-list']['graduate-school'].content:'' }}</span></li>
                    <li>
                        <label class="left-label">{{ source?source.profile['info-list']['graduation-year'].title:'' }}</label><span class="label-value">{{ source?source.profile['info-list']['graduation-year'].content:'' }}</span></li>                                        
                </ul>
            </div>
            <div class="contact info-unit">
                <h2 class="info-header"><i class="iconfont icon-call"></i> <span class="info-title">{{ source?source.contact['info-title']:'' }}</span></h2>
                <hr>
                <ul class="info-list">                    
                    <li>
                        <label class="left-label">{{ source?source.contact['info-list']['mobile-phone'].title:'' }}</label><span class="label-value">{{ source?source.contact['info-list']['mobile-phone'].content:'' }}</span></li>
                    <li>
                        <label class="left-label">{{ source?source.contact['info-list']['email'].title:'' }}</label><span class="label-value">{{ source?source.contact['info-list']['email'].content:'' }}</span></li>
                </ul>
            </div>
            <!-- <div class="skill info-unit">
                <h2 class="info-header"><i class="iconfont icon-star"></i> <span class="info-title">技能点</span></h2>
                <hr>
                <ul class="progress-list">
                    <li>
                        <label class="left-label">Python</label>
                        <progress value="80" max="100"></progress>
                    </li>
                    <li>
                        <label class="left-label">html/css</label>
                        <progress value="70" max="100"></progress>
                    </li>
                    <li>
                        <label class="left-label">Javascript</label>
                        <progress value="60" max="100"></progress>
                    </li>
                    <li>
                        <label class="left-label">机器学习</label>
                        <progress value="60" max="100"></progress>
                    </li>
                </ul>
            </div> -->
            <div class="stack info-unit">
                <h2 class="info-header"><i class="iconfont icon-build"></i> <span class="info-title">{{ source?source.stack['info-title']:'' }}</span></h2>
                <hr>
                <ul class="stack-list">
                    <li>
                        <label class="left-label">{{ source?source.stack['stack-list']['front-end'].title:'' }}</label><span class="label-value">
                                {{ source?source.stack['stack-list']['front-end'].content:'' }}
                        </span></li>
                    </li>
                    <li>
                        <label class="left-label">{{ source?source.stack['stack-list']['backend'].title:'' }}</label><span class="label-value">
                                {{ source?source.stack['stack-list']['backend'].content:'' }}
                        </span></li>
                    </li>
                    <li>
                        <label class="left-label">{{ source?source.stack['stack-list']['other'].title:'' }}</label><span class="label-value">
                                {{ source?source.stack['stack-list']['other'].content:'' }}
                        </span></li>
                    </li>
                </ul>
            </div>

            <div class="code info-unit">
                <h2 class="info-header"><i class="iconfont icon-weixin"></i> <span class="info-title">{{ source?source.code['info-title']:'' }}</span></h2>
                <hr>
                <div class="weixin">
                    <img src="static/image/weixin.png" alt="">

                </div>
            </div>
            <div class="remodal remodal-img" data-remodal-id="weixin-modal">
                <h3>请输入图片URL地址：</h3>
                <br/>
                <input type="text" id="weixin-url">
                <button data-remodal-action="confirm" class="remodal-confirm">确定</button>
            </div>
        </div>
        <div class="main">
            <!-- <div class="education info-unit right-list">
                <h2 class="info-header"><i class="iconfont icon-education"></i> <span class="info-title">教育经历</span></h2>
                <hr>
                <ul class="experience-list">
                    <li>
                        <h3>北京邮电大学 - 网络工程专业（本科）2012-2017</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </li>
                </ul>
            </div> -->
            <div class="work info-unit right-list">
                <h2 class="info-header"><i class="iconfont icon-work"></i> <span class="info-title">{{ source?source.work['info-title']:'' }}</span></h2>
                <hr>
                <ul class="experience-list">
                    <li v-for="item in (source?source.work['info-list']:[])">
                        <h3>{{ item.position }}</h3>
                        <p>{{ item.desc }}</p>
                    </li>
                </ul class="experience-list">
            </div>
            <div class="project info-unit right-list">
                <h2 class="info-header"><i class="iconfont icon-project"></i> <span class="info-title">{{ source?source.skill['info-title']:'' }}</span></h2>
                <hr>
                <ul class="experience-list">
                    <li v-for="item in (source?source.skill['skill-list']:[])">
                        <h3>      
                            {{ item }}                   
                        </h3>
                    </li>
                </ul>
            </div>
            <div class="trophy info-unit">
                <h2 class="info-header"><i class="iconfont icon-trophy"></i> <span class="info-title">{{ source?source.project['info-title']:'' }}</span></h2>
                <hr>
                <ul class="experience-list">
                    <li v-for="item in (source?source.project['info-list']:[])">
                        <h3>{{ item.title }}</h3>
                        <p>
                            <b>{{ item.link.title }}</b>：{{ item.link.content }}
                        </p>
                    </li>
                </ul>                
            </div>
            <!-- <div class="aboutme info-unit right-paragraph">
                <h2 class="info-header"><i class="iconfont icon-flower"></i> <span class="info-title">附加说明</span></h2>
                <hr>
                <ul class="experience-list">
                    <li class="experience-list">
                        <h3>兴趣爱好</h3>
                        <p>
                            学习 / 囤书 / 囤课 / 撸代码 / 看片 / 旅游 / 吃鸡 / 跑步 ...
                        </p>
                    </li>   
                    <li class="experience-list">
                        <h3>技术爱好者和持续学习者，一直在深度和广度上不断更新自身的技术栈</h3>                  
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#cv',
            data: {
                data: {
                    "zh-cn": {
                        "me": {
                            "username": "Angus",
                            "persona-tag": "Python / Web / 移动互联网"
                        },
                        "profile": {
                            "info-title": "基本信息",
                            "info-list": {
                                "name": {
                                    "title": "姓名",
                                    "content": "高少祥"
                                },
                                "gender": {
                                    "title": "性别",
                                    "content": "男"
                                },
                                "education-background": {
                                    "title": "学历",
                                    "content": "本科"
                                },
                                "graduate-school": {
                                    "title": "毕业院校",
                                    "content": "四川师范大学"
                                },
                                "graduation-year": {
                                    "title": "毕业年份",
                                    "content": "2018"
                                },
                                "major": {
                                    "title": "专业",
                                    "content": "经济学"                    
                                }
                            }
                        },
                        "contact": {
                            "info-title": "联系方式",
                            "info-list": {
                                "mobile-phone": {
                                    "title": "手机",
                                    "content": "17343009173"
                                },
                                "email": {
                                    "title": "邮箱",
                                    "content": "gsx0312@qq.com"
                                },
                            }
                        },
                        "stack": {
                            "info-title": "技术栈",
                            "stack-list": {
                                "front-end": {
                                    "title": "前端",
                                    "content": "HTML/CSS、JavaScript、Vue.js、Webpack、Gulp、MUI、JQuery、BootStrap、ECharts、Layui"
                                },
                                "backend": {
                                    "title": "后端",
                                    "content": "Python、Flask、Django、Scrapy、Node.js、Express、Koa、PHP、Laravel、Go、Ruby、C/C++、MySQL、MongoDB、Redis"
                                },
                                "other": {
                                    "title": "其他",
                                    "content": "Linux、Nginx、Docker、Git、Selenium、Appium、Hadoop"
                                }
                            }
                        },
                        "code": {
                            "info-title": "个人微信"
                        },
                        "skill": {
                            "info-title": "技能描述",
                            "skill-list":[
                                "熟悉HTML、CSS、JavaScript（ES5、ES6、ES7）",
                                "熟悉Vue全家桶，包括Vue.js、Vue Resource、Axios、Vue Router、Vuex",
                                "熟悉Hybrid App的开发（使用MUI）",
                                "熟悉微信小程序和微信公众号开发",
                                "熟悉前端构建工具（Gulp和Webpack）",
                                "熟悉Python及其常见Web开发框架，如Django和Flask，了解Django REST framework",
                                "熟悉Python网络爬虫相关技术，如正则表达式、XPath表达式、Urllib库、requests库、反爬破解、抓包分析、Scrapy爬虫框架、BeautifulSoup、分布式爬虫等",
                                "熟悉Node.js及其常见Web开发框架，如Express和Koa",
                                "熟悉MySQL、MongoDB和Redis",
                                "熟悉自动化测试工具，包括Selenium和Appium",
                                "熟悉Linux操作系统",
                                "熟悉Docker基本操作",
                                "熟悉Nginx基本配置",
                                "了解ECharts可视化JS库",
                                "了解JQuery和BootStrap",
                                "了解Hadoop大数据生态圈，如HDFS、MapReduce、Hive、SQoop",
                                "了解PHP、Go、Ruby、C、C++",
                                "了解PHP Laravel框架",
                            ]
                        },
                        "work": {
                            "info-title": "工作经历",
                            "info-list": [
                                {
                                    "position": "爬虫工程师实习生 - TransferEasy(2018.03.12 ~ 2018.06.15)",
                                    "desc": "使用Python Scrapy框架开发网络爬虫",
                                },
                                {
                                    "position": "Python开发工程师 - 孢子科技(北京)有限公司(2018.09.15 ~ 2018.10.15)",
                                    "desc": "使用Python语言开发各类爬虫；使用Python Flask框架进行Web前后端开发",                                    
                                }
                            ],                            
                        },
                        "project": {
                            "info-title": "相关链接",
                            "info-list": [
                                {
                                    "title": "博客",
                                    "link": {
                                        "title": "链接",
                                        "content": "http://www.feihu1996.cn/",
                                    },
                                },                                
                                {
                                    "title": "GitHub",
                                    "link": {
                                        "title": "链接",
                                        "content": "https://github.com/feihu1996x",
                                    },
                                },
                                {
                                    "title": "Demo",
                                    "link": {
                                        "title": "链接",
                                        "content": "http://dev.feihu1996.cn/works",
                                    },
                                },                                
                            ]
                        }
                    },
                    "en": {
                        "me": {
                            "username": "Angus",
                            "persona-tag": "Python / Web / Mobile Internet"
                        },
                        "profile": {
                            "info-title": "Basic Info",
                            "info-list": {
                                "name": {
                                    "title": "Name",
                                    "content": "Shaoxiang Gao"
                                },
                                "gender": {
                                    "title": "Gender",
                                    "content": "Male"
                                },
                                "education-background": {
                                    "title": "Education",
                                    "content": "Bachelor Degree"
                                },
                                "graduate-school": {
                                    "title": "School",
                                    "content": "SICNU"
                                },
                                "graduation-year": {
                                    "title": "Graduate",
                                    "content": "2018"
                                },
                                "major": {
                                    "title": "Major",
                                    "content": "Economics"                    
                                }                
                            }
                        },
                        "contact": {
                            "info-title": "Contact",
                            "info-list": {
                                "mobile-phone": {
                                    "title": "Mobile Phone",
                                    "content": "17343009173"
                                },
                                "email": {
                                    "title": "Email",
                                    "content": "gsx0312@qq.com"
                                },
                            }
                        },
                        "stack": {
                            "info-title": "Tech Stack",
                            "stack-list": {
                                "front-end": {
                                    "title": "Front End",
                                    "content": "HTML/CSS、JavaScript、Vue.js、Webpack、Gulp、MUI、JQuery、BootStrap、ECharts、Layui"
                                },
                                "backend": {
                                    "title": "Backend",
                                    "content": "Python、Flask、Django、Scrapy、Node.js、Express、Koa、PHP、Laravel、Go、Ruby、C/C++、MySQL、MongoDB、Redis"
                                },
                                "other": {
                                    "title": "Other",
                                    "content": "Linux、Nginx、Docker、Git、Selenium、Appium、Hadoop"
                                }
                            }
                        },
                        "code": {
                            "info-title": "WeChat Qr Code"
                        },
                        "skill": {
                            "info-title": "Skill Description",
                            "skill-list": [
                                "familiar with HTML, CSS and JavaScript, including ES5, ES6 and ES7",
                                "familiar with the Vue library，such as Vue.js, Vue Resource, Axios, Vue Router, Vuex",
                                "familiar with the development of Hybrid App(with MUI)",
                                "familiar with the WeChat Development",
                                "familiar with frontend build system, such as Gulp and Webpack",
                                "familiar with Python and relevant web framework，such as Django and Flask，know about Django REST framework",
                                "familiar with Python web crawler technology，such as RegExp, XPath, Urllib, requests, packet capture analysis, Scrapy, BeautifulSoup, distributed spider, and so on",
                                "familiar with Node.js and relevant web framework，such as Express and Koa",
                                "familiar with MySQL, MongoDB and Redis",
                                "familiar with automatic testing tools, such as Selenium and Appium",
                                "familiar with Linux operation system",
                                "familiar with common operation of Docker",
                                "familiar with commom configuration of Nginx",
                                "familiar with ECharts, a powerful, interactive charting and visualization js library",
                                "know about JQuery and BootStrap",
                                "know about Hadoop ecosphere，such as HDFS、MapReduce、Hive、SQoop",
                                "know about PHP、Go、Ruby、C、C++",
                                "know about PHP Laravel web framewwork",
                            ]
                        },
                        "work": {
                            "info-title": "Work Experience",                            
                            "info-list": [
                                {
                                    "position": "Data Engineer Intern - transfereasy.com(2018.03.12 ~ 2018.06.15)",
                                    "desc": "build data crawler system with Python Scrapy framework",
                                },
                                {
                                    "position": "Python Development Engineer - baozizhuli.com(2018.09.15 ~ 2018.10.15)",
                                    "desc": "build data crawler system with Python;web development with Python Flask framework",
                                }
                            ],                            
                        },                        
                        "project": {
                            "info-title": "Relevant Link",
                            "info-list": [
                                {
                                    "title": "Blog",
                                    "link": {
                                        "title": "Link",
                                        "content": "http://www.feihu1996.cn/",
                                    },
                                },
                                {
                                    "title": "Demo",
                                    "link": {
                                        "title": "Link",
                                        "content": "http://dev.feihu1996.cn/works",
                                    },
                                },                                       
                                {
                                    "title": "GitHub",
                                    "link": {
                                        "title": "Link",
                                        "content": "https://github.com/feihu1996x",
                                    },
                                },
                            ]
                        }
                    }                    
                },
                source: null,
            },
            mounted(){
                this.init();
            },
            methods: {
                init(){
                    this.source = this.data['zh-cn'];
                    if('?language=zh-cn' == location.search){
                        this.source = this.data['zh-cn'];
                    }
                    if('?language=en' == location.search){
                        this.source = this.data['en'];
                    }
                    console.log(this.source);
                }
            }
        });
    </script>
</body>

</html>
