<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>高少祥-简历</title>
    <link rel="shortcut icon" href="static/favicon.ico?201811101305" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal-default-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.js"></script>
    <script src="static/js/script.js"></script>
</head>

<body>
    <div class="container" id="cv">
        <div class="side">
            <div class="me">
                <div class="portrait"></div>
                <div class="remodal remodal-img" data-remodal-id="portrait-modal">
                    <h3>请输入图片URL地址：</h3>
                    <br/>
                    <input type="text" id="avatar-url">
                    <button data-remodal-action="confirm" class="remodal-confirm">确定</button>
                </div>
                <h1 id="username" >{{ source?source.me.username:'' }}</h1>
                <h4 id="persona-tag" >{{ source?source.me['persona-tag']:'' }}</h4>
            </div>
            <div class="profile info-unit">
                <h2 class="info-header"><i class="iconfont icon-person"></i> <span class="info-title">{{ source?source.profile['info-title']:'' }}</span></h2>
                <hr>
                <ul class="info-list">
                    <li>
                        <label class="left-label">{{ source?source.profile['info-list'].name.title:'' }}</label><span class="label-value">{{ source?source.profile['info-list'].name.content:'' }}</span></li>
                    <li>
                        <label class="left-label">{{ source?source.profile['info-list'].gender.title:'' }}</label><span class="label-value">{{ source?source.profile['info-list'].gender.content:'' }}</span></li>                        
                    <li>
                        <label class="left-label">{{ source?source.profile['info-list']['education-background'].title:'' }}</label><span class="label-value">{{ source?source.profile['info-list']['education-background'].content:'' }}</span></li>
                    <li>
                        <label class="left-label">{{ source?source.profile['info-list']['major'].title:'' }}</label><span class="label-value">{{ source?source.profile['info-list']['major'].content:'' }}</span></li>                        
                    <li>
                        <label class="left-label">{{ source?source.profile['info-list']['graduate-school'].title:'' }}</label><span class="label-value">{{ source?source.profile['info-list']['graduate-school'].content:'' }}</span></li>
                    <li>
                        <label class="left-label">{{ source?source.profile['info-list']['graduation-year'].title:'' }}</label><span class="label-value">{{ source?source.profile['info-list']['graduation-year'].content:'' }}</span></li>                                        
                </ul>
            </div>
            <div class="contact info-unit">
                <h2 class="info-header"><i class="iconfont icon-call"></i> <span class="info-title">{{ source?source.contact['info-title']:'' }}</span></h2>
                <hr>
                <ul class="info-list">                    
                    <li>
                        <label class="left-label">{{ source?source.contact['info-list']['mobile-phone'].title:'' }}</label><span class="label-value">{{ source?source.contact['info-list']['mobile-phone'].content:'' }}</span></li>
                    <li>
                        <label class="left-label">{{ source?source.contact['info-list']['email'].title:'' }}</label><span class="label-value">{{ source?source.contact['info-list']['email'].content:'' }}</span></li>
                    <li>
                        <label class="left-label">{{ source?source.contact['info-list']['blog'].title:'' }}</label><span class="label-value">{{ source?source.contact['info-list']['blog'].content:'' }}</span></li>
                    <li>
                        <label class="left-label">{{ source?source.contact['info-list']['github'].title:'' }}</label><span class="label-value">{{ source?source.contact['info-list']['github'].content:'' }}</span></li>
                </ul>
            </div>
            <!-- <div class="skill info-unit">
                <h2 class="info-header"><i class="iconfont icon-star"></i> <span class="info-title">技能点</span></h2>
                <hr>
                <ul class="progress-list">
                    <li>
                        <label class="left-label">Python</label>
                        <progress value="80" max="100"></progress>
                    </li>
                    <li>
                        <label class="left-label">html/css</label>
                        <progress value="70" max="100"></progress>
                    </li>
                    <li>
                        <label class="left-label">Javascript</label>
                        <progress value="60" max="100"></progress>
                    </li>
                    <li>
                        <label class="left-label">机器学习</label>
                        <progress value="60" max="100"></progress>
                    </li>
                </ul>
            </div> -->
            <div class="stack info-unit">
                <h2 class="info-header"><i class="iconfont icon-build"></i> <span class="info-title">{{ source?source.stack['info-title']:'' }}</span></h2>
                <hr>
                <ul class="stack-list">
                    <li>
                        <label class="left-label">{{ source?source.stack['stack-list']['front-end'].title:'' }}</label><span class="label-value">
                                {{ source?source.stack['stack-list']['front-end'].content:'' }}
                        </span></li>
                    </li>
                    <li>
                        <label class="left-label">{{ source?source.stack['stack-list']['backend'].title:'' }}</label><span class="label-value">
                                {{ source?source.stack['stack-list']['backend'].content:'' }}
                        </span></li>
                    </li>
                    <li>
                        <label class="left-label">{{ source?source.stack['stack-list']['other'].title:'' }}</label><span class="label-value">
                                {{ source?source.stack['stack-list']['other'].content:'' }}
                        </span></li>
                    </li>
                </ul>
            </div>

            <div class="code info-unit">
                <h2 class="info-header"><i class="iconfont icon-weixin"></i> <span class="info-title">{{ source?source.code['info-title']:'' }}</span></h2>
                <hr>
                <div class="weixin">
                    <img src="static/image/weixin.png" alt="">

                </div>
            </div>
            <div class="remodal remodal-img" data-remodal-id="weixin-modal">
                <h3>请输入图片URL地址：</h3>
                <br/>
                <input type="text" id="weixin-url">
                <button data-remodal-action="confirm" class="remodal-confirm">确定</button>
            </div>
        </div>
        <div class="main">
            <!-- <div class="education info-unit right-list">
                <h2 class="info-header"><i class="iconfont icon-education"></i> <span class="info-title">教育经历</span></h2>
                <hr>
                <ul class="experience-list">
                    <li>
                        <h3>北京邮电大学 - 网络工程专业（本科）2012-2017</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </li>
                </ul>
            </div> -->
            <!-- <div class="work info-unit right-list">
                <h2 class="info-header"><i class="iconfont icon-work"></i> <span class="info-title">工作经历</span></h2>
                <hr>
                <ul class="experience-list">
                    <li>
                        <h3>爬虫工程师实习生 - TransferEasy</h3>
                        <p>工作期限：2018.03.12 ~ 2018.06.15
                        </p>
                        <p>工作地点：北京
                        </p>
                        <p>工作内容：使用Python Scrapy框架开发网络爬虫
                        </p>
                        <p>离职原因：合同到期 + 个人选择
                        </p>                        
                    </li>
                    <li>
                        <h3>Python开发工程师 - 孢子科技(北京)有限公司</h3>
                        <p>工作期限：2018.09.15 ~ 2018.10.15
                        </p>
                        <p>工作地点：北京
                        </p>
                        <p>工作内容：使用Python语言开发各类爬虫 + 使用Python Flask框架进行Web前后端开发
                        </p>
                        <p>离职原因：个人选择
                        </p>                        
                    </li>
                </ul class="experience-list">
            </div> -->
            <div class="project info-unit right-list">
                <h2 class="info-header"><i class="iconfont icon-project"></i> <span class="info-title">{{ source?source.skill['info-title']:'' }}</span></h2>
                <hr>
                <ul class="experience-list">
                    <li v-for="item in (source?source.skill['skill-list']:[])">
                        <h3>      
                            {{ item }}                   
                        </h3>
                    </li>
                </ul>
            </div>
            <div class="trophy info-unit">
                <h2 class="info-header"><i class="iconfont icon-trophy"></i> <span class="info-title">{{ source?source.project['info-title']:'' }}</span></h2>
                <hr>
                <ul class="experience-list">
                    <li v-for="item in (source?source.project['info-list']:[])">
                        <h3>{{ item.title }}</h3>
                        <p>
                            <b>{{ item.link.title }}</b>：{{ item.link.content }}
                        </p>
                        <p>
                            <b>{{ item.desc.title }}</b>：{{ item.desc.content }}
                        </p>
                        <br v-show="source === data['zh-cn']">
                    </li>
                </ul>                
            </div>
            <!-- <div class="aboutme info-unit right-paragraph">
                <h2 class="info-header"><i class="iconfont icon-flower"></i> <span class="info-title">附加说明</span></h2>
                <hr>
                <ul class="experience-list">
                    <li class="experience-list">
                        <h3>兴趣爱好</h3>
                        <p>
                            学习 / 囤书 / 囤课 / 撸代码 / 看片 / 旅游 / 吃鸡 / 跑步 ...
                        </p>
                    </li>   
                    <li class="experience-list">
                        <h3>技术爱好者和持续学习者，一直在深度和广度上不断更新自身的技术栈</h3>                  
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#cv',
            data: {
                data: {
                    "zh-cn": {
                        "me": {
                            "username": "Angus",
                            "persona-tag": "Python / Web / 移动互联网"
                        },
                        "profile": {
                            "info-title": "基本信息",
                            "info-list": {
                                "name": {
                                    "title": "姓名",
                                    "content": "高少祥"
                                },
                                "gender": {
                                    "title": "性别",
                                    "content": "男"
                                },
                                "education-background": {
                                    "title": "学历",
                                    "content": "本科"
                                },
                                "graduate-school": {
                                    "title": "毕业院校",
                                    "content": "四川师范大学"
                                },
                                "graduation-year": {
                                    "title": "毕业年份",
                                    "content": "2018"
                                },
                                "major": {
                                    "title": "专业",
                                    "content": "经济学"                    
                                }
                            }
                        },
                        "contact": {
                            "info-title": "联系方式",
                            "info-list": {
                                "mobile-phone": {
                                    "title": "手机",
                                    "content": "17343009173"
                                },
                                "email": {
                                    "title": "邮箱",
                                    "content": "gsx0312@qq.com"
                                },
                                "blog": {
                                    "title": "博客",
                                    "content": "feihu1996.cn"
                                },
                                "github": {
                                    "title": "Github",
                                    "content": "github.com/feihu1996x"
                                }
                            }
                        },
                        "stack": {
                            "info-title": "技术栈",
                            "stack-list": {
                                "front-end": {
                                    "title": "前端",
                                    "content": "HTML/CSS、JavaScript、Vue.js、Webpack、Gulp、MUI、JQuery、BootStrap、ECharts、Layui"
                                },
                                "backend": {
                                    "title": "后端",
                                    "content": "Python、Flask、Django、Scrapy、Node.js、Express、Koa、PHP、Laravel、Go、Ruby、C/C++、MySQL、MongoDB、Redis"
                                },
                                "other": {
                                    "title": "其他",
                                    "content": "Linux、Nginx、Docker、Git、Selenium、Appium、Hadoop"
                                }
                            }
                        },
                        "code": {
                            "info-title": "个人微信"
                        },
                        "skill": {
                            "info-title": "技能描述",
                            "skill-list":[
                                "前端相关：掌握HTML/CSS/JavaScript(ES5、ES6、ES7)，掌握Vue全家桶(Vue.js、Vue Router、Vue Resource、Axios、Vuex)，熟悉前端构建工具(Webpack、Gulp)，熟悉移动前端框架MUI，了解前端开发常见类库JQuery、ECharts、BootStrap、Layui",
                                "后端相关：掌握Python语言，熟悉Python常见Web开发框架(Django、Flask)，熟悉Python Scrapy爬虫框架，熟悉Node.js及其常见Web开发框架(Express、Koa)，熟悉MySQL、MongoDB、Redis数据库，熟悉微信开发(小程序 、 公众号)，了解PHP、Go、Ruby、C、C++编程语言，了解PHP Laravel框架，了解Nginx配置，熟悉Docker基本操作，了解Hadoop生态圈，熟悉RESTFul API的设计开发",
                                "其他：熟悉Linux操作系统，熟悉Git，熟悉Selenium、Appium自动化测试工具，常用的代码编辑器为Visual Studio Code和Vim",
                            ]
                        },
                        "project": {
                            "info-title": "项目经验",
                            "info-list": [
                                {
                                    "title": "大数据统计与可视化系统",
                                    "link": {
                                        "title": "项目链接",
                                        "content": "http://dev.feihu1996.cn/hpshSystem/"
                                    },
                                    "desc": {
                                        "title": "技术栈",
                                        "content": "HTML / CSS / JavaScript / Echarts / Flask / Python / MySQL / MongoDB / Redis / Hadoop / HDFS / Hive / SQoop"
                                    }
                                },
                                {
                                    "title": "画廊式项目展示系统",
                                    "link": {
                                        "title": "项目链接",
                                        "content": "http://dev.feihu1996.cn/works/"
                                    },
                                    "desc": {
                                        "title": "技术栈",
                                        "content": "HTML / CSS / JavaScript / Vue.js / Django / Xadmin / Python / MySQL"
                                    }
                                },
                                {
                                    "title": "随机密码生成器",
                                    "link": {
                                        "title": "项目链接",
                                        "content": "http://dev.feihu1996.cn/randomKey/"
                                    },
                                    "desc": {
                                        "title": "技术栈",
                                        "content": "HTML / CSS / JavaScript / Python / Flask"
                                    }
                                },
                                {
                                    "title": "仿豆瓣电影APP",
                                    "link": {
                                        "title": "项目链接",
                                        "content": "http://dev.feihu1996.cn/MMovie/"
                                    },
                                    "desc": {
                                        "title": "技术栈",
                                        "content": "HTML / CSS / JavaScript / MUI / Vue.js / Node.js / Express"
                                    }
                                },
                                {
                                    "title": "仿豆瓣电影微信小程序",
                                    "link": {
                                        "title": "项目链接",
                                        "content": "http://dev.feihu1996.cn/WMovie/"
                                    },
                                    "desc": {
                                        "title": "技术栈",
                                        "content": "HTML / CSS / JavaScript / BootStrap / Node.js / Express"
                                    }
                                },
                                {
                                    "title": "使用ES6构建的彩票项目",
                                    "link": {
                                        "title": "项目链接",
                                        "content": "http://dev.feihu1996.cn/fakeLottery/"
                                    },
                                    "desc": {
                                        "title": "技术栈",
                                        "content": "HTML / CSS / JavaScript(ES6) / Gulp / Node.js / Express"
                                    }
                                },
                                {
                                    "title": "Web Todo应用",
                                    "link": {
                                        "title": "项目链接",
                                        "content": "http://dev.feihu1996.cn/nextToDo/"
                                    },
                                    "desc": {
                                        "title": "技术栈",
                                        "content": "HTML / CSS / JavaScript / Vue.js / Webpack / Node.js / Express"
                                    }
                                },
                                {
                                    "title": "仿'中国大学MOOC/'网站",
                                    "link": {
                                        "title": "项目链接",
                                        "content": "http://dev.feihu1996.cn/qinXueOnLine/"
                                    },
                                    "desc": {
                                        "title": "技术栈",
                                        "content": "HTML / CSS / JavaScript / JQuery / Python / Django / Xadmin / MySQL"
                                    }
                                },
                                {
                                    "title": "QQ/微信群信息抓取系统",
                                    "link": {
                                        "title": "项目链接",
                                        "content": "http://dev.feihu1996.cn/qqGroupNeeds/"
                                    },
                                    "desc": {
                                        "title": "技术栈",
                                        "content": "HTML / CSS / JavaScript / Layui / Vue.js / Node.js / Express / Python / Flask / MySQL / Selenium / Appium"
                                    }
                                },
                                {
                                    "title": "商城系统",
                                    "link": {
                                        "title": "项目链接",
                                        "content": "http://dev.feihu1996.cn/vueMall"
                                    },
                                    "desc": {
                                        "title": "技术栈",
                                        "content": "HTML / CSS / JavaScript / Vue.js / Node.js / Express / MongoDB"
                                    }
                                }
                            ]
                        }
                    },
                    "en": {
                        "me": {
                            "username": "Angus",
                            "persona-tag": "Python / Web / Mobile Internet"
                        },
                        "profile": {
                            "info-title": "Basic Info",
                            "info-list": {
                                "name": {
                                    "title": "Name",
                                    "content": "Shaoxiang Gao"
                                },
                                "gender": {
                                    "title": "Gender",
                                    "content": "Male"
                                },
                                "education-background": {
                                    "title": "Education",
                                    "content": "Bachelor Degree"
                                },
                                "graduate-school": {
                                    "title": "School",
                                    "content": "SICNU"
                                },
                                "graduation-year": {
                                    "title": "Graduate",
                                    "content": "2018"
                                },
                                "major": {
                                    "title": "Major",
                                    "content": "Economics"                    
                                }                
                            }
                        },
                        "contact": {
                            "info-title": "Contact",
                            "info-list": {
                                "mobile-phone": {
                                    "title": "Mobile Phone",
                                    "content": "17343009173"
                                },
                                "email": {
                                    "title": "Email",
                                    "content": "gsx0312@qq.com"
                                },
                                "blog": {
                                    "title": "Blog",
                                    "content": "feihu1996.cn"
                                },
                                "github": {
                                    "title": "Github",
                                    "content": "github.com/feihu1996x"
                                }
                            }
                        },
                        "stack": {
                            "info-title": "Tech Stack",
                            "stack-list": {
                                "front-end": {
                                    "title": "Front End",
                                    "content": "HTML/CSS、JavaScript、Vue.js、Webpack、Gulp、MUI、JQuery、BootStrap、ECharts、Layui"
                                },
                                "backend": {
                                    "title": "Backend",
                                    "content": "Python、Flask、Django、Scrapy、Node.js、Express、Koa、PHP、Laravel、Go、Ruby、C/C++、MySQL、MongoDB、Redis"
                                },
                                "other": {
                                    "title": "Other",
                                    "content": "Linux、Nginx、Docker、Git、Selenium、Appium、Hadoop"
                                }
                            }
                        },
                        "code": {
                            "info-title": "WeChat Qr Code"
                        },
                        "skill": {
                            "info-title": "Skill Description",
                            "skill-list": [
                                "Master HTML5 / CSS3 / JavaScript（ES5 / ES6 / ES7）/ Vue Stack（Vue.js / Vue Router / Vue Resource / Axios / Vuex）/ MUI / Webpack / Gulp",
                                "Experience with ECharts / BootStrap / JQuery",
                                "Master Python / Flask / Django / Django REST framework / Scrapy / Node.js / Express / Koa / MySQL / MongoDB / Redis / WeChat Development",
                                "Experience with PHP / Laravel / Go / Ruby / C / C++ / Nginx / Docker / Hadoop",
                                "Master RESTFul API / Linux OS / Git / Visual Studio Code / Vim / Selenium / Appium",
                                "Continuous learners, who have a genuine interest in technology, have been expanding my technology stack in both depth and breadth"
                            ]
                        },
                        "project": {
                            "info-title": "Project Experience",
                            "info-list": [
                                {
                                    "title": "Big Data Statistics And Visualization System",
                                    "link": {
                                        "title": "Project Link",
                                        "content": "http://dev.feihu1996.cn/hpshSystem/"
                                    },
                                    "desc": {
                                        "title": "Technology Stack",
                                        "content": "HTML / CSS / JavaScript / Echarts / Flask / Python / MySQL / MongoDB / Redis / Hadoop / HDFS / Hive / SQoop"
                                    }
                                },
                                {
                                    "title": "Gallery Project Presentation System",
                                    "link": {
                                        "title": "Project Link",
                                        "content": "http://dev.feihu1996.cn/works/"
                                    },
                                    "desc": {
                                        "title": "Technology Stack",
                                        "content": "HTML / CSS / JavaScript / Vue.js / Django / Xadmin / Python / MySQL"
                                    }
                                },
                                {
                                    "title": "Random Password Generator",
                                    "link": {
                                        "title": "Project Link",
                                        "content": "http://dev.feihu1996.cn/randomKey/"
                                    },
                                    "desc": {
                                        "title": "Technology Stack",
                                        "content": "HTML / CSS / JavaScript / Python / Flask"
                                    }
                                },
                                {
                                    "title": "Fake Douban Movie App",
                                    "link": {
                                        "title": "Project Link",
                                        "content": "http://dev.feihu1996.cn/MMovie/"
                                    },
                                    "desc": {
                                        "title": "Technology Stack",
                                        "content": "HTML / CSS / JavaScript / MUI / Vue.js / Node.js / Express"
                                    }
                                },
                                {
                                    "title": "Fake Douban Movie Mini Program",
                                    "link": {
                                        "title": "Project Link",
                                        "content": "http://dev.feihu1996.cn/WMovie/"
                                    },
                                    "desc": {
                                        "title": "Technology Stack",
                                        "content": "HTML / CSS / JavaScript / BootStrap / Node.js / Express"
                                    }
                                },
                                {
                                    "title": "Lottery Projects Built Using ES6",
                                    "link": {
                                        "title": "Project Link",
                                        "content": "http://dev.feihu1996.cn/fakeLottery/"
                                    },
                                    "desc": {
                                        "title": "Technology Stack",
                                        "content": "HTML / CSS / JavaScript(ES6) / Gulp / Node.js / Express"
                                    }
                                },
                                {
                                    "title": "Web Todo App",
                                    "link": {
                                        "title": "Project Link",
                                        "content": "http://dev.feihu1996.cn/nextToDo/"
                                    },
                                    "desc": {
                                        "title": "Technology Stack",
                                        "content": "HTML / CSS / JavaScript / Vue.js / Webpack / Node.js / Express"
                                    }
                                },
                                {
                                    "title": "Fake MOOC Website",
                                    "link": {
                                        "title": "Project Link",
                                        "content": "http://dev.feihu1996.cn/qinXueOnLine/"
                                    },
                                    "desc": {
                                        "title": "Technology Stack",
                                        "content": "HTML / CSS / JavaScript / JQuery / Python / Django / Xadmin / MySQL"
                                    }
                                },
                                {
                                    "title": "QQ Message Crawl System",
                                    "link": {
                                        "title": "Project Link",
                                        "content": "http://dev.feihu1996.cn/qqGroupNeeds/"
                                    },
                                    "desc": {
                                        "title": "Technology Stack",
                                        "content": "HTML / CSS / JavaScript / Layui / Vue.js / Node.js / Express / Python / Flask / MySQL / Selenium / Appium"
                                    }
                                },
                                {
                                    "title": "E-Mall System",
                                    "link": {
                                        "title": "Project Link",
                                        "content": "http://dev.feihu1996.cn/vueMall"
                                    },
                                    "desc": {
                                        "title": "Technology Stack",
                                        "content": "HTML / CSS / JavaScript / Vue.js / Node.js / Express / MongoDB"
                                    }
                                }
                            ]
                        }
                    }                    
                },
                source: null,
            },
            mounted(){
                this.init();
            },
            methods: {
                init(){
                    this.source = this.data['zh-cn'];
                    if('?language=zh-cn' == location.search){
                        this.source = this.data['zh-cn'];
                    }
                    if('?language=en' == location.search){
                        this.source = this.data['en'];
                    }
                    console.log(this.source);
                }
            }
        });
    </script>
</body>

</html>
